</div>
<footer>
    <div id="footList">
        <ul>
            <h5 class="foottitle">Legal</h5>
            <li class="footLinks"><a class="afoot" ref="/privacy">Privacy and Coockies</a></li>
            <li class="footLinks"><a class="afoot" href="/services">Terms Of Use</a></li>
            <li class="footLinks"><a class="afoot" href="/contact">Contact</a></li>
        </ul>

        <ul>
            <h5 class="foottitle">Company</h5>
            <li class="footLinks"><a class="afoot" href="/aboutUs">About Us</a></li>
            <li class="footLinks"><a class="afoot"  href="/artist">Our artist</a></li>
            <li class="footLinks"><a class="afoot"  href="/FAQ">FAQ</a></li>
            <li class="footLinks"><a  class="afoot" href="/contact">Contact</a></li>
        </ul>
        <h4 class="copyText"> &copyCopyright 2025 StinkyCat Studio| All Rights Reserved </h4>
       
    </div>

    <a href="https://discord.com/"><img src="../../instagramicon.png" alt="instagramIcon" class="socialIconF"></a>
    <a href="https://discord.com/"><img src="../../discordicon.png" alt="discordicon" class="socialIconF"></a>
      
    </footer>
    <script src="../../script.js"> </script>
    <script src="../../games.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </body>
    </html>