<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        
        <% if(title){ %>
            <%= title %>
        <% } else { %>
            Stinky Cat Studio
        <% } %>
        
    </title>
    <link rel="stylesheet" href="../../style.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    </head>
<body>
    
    <div id="mainholder">
    
    
    <header>

       
    <div id="topMenu">
        <div id="logoPlace">
            <img src="../../logoscs.png" alt="logoHeader" class="logoS">
            <img src="../../instagramicon.png" alt="instagramIcon" class="socialIcon">
            <img src="../../discordicon.png" alt="discordicon" class="socialIcon">

            <div id="headerTop">
                <a href="#" id="menuPhone">
                    <i class="fa fa-bars" style="font-size:32px" id="menuIconP"></i>
                
                </a>    
            </div>
        
        </div>

      

        <div id="navBarLinks">
            <ul>
                <li class="navLink cyanC"  ><a href="/">Home</a></li>
                <li class="navLink pinkC"><a href="/games">Games</a></li>
                <li class="navLink purpleC"><a href="/services">Services</a></li>
                <li class="navLink yellowC"><a href="/contact">Contact</a></li>
            </ul>
         
        </div>
        
            
    </div>
</header> 

<div id="sideMenu">
    <ul >
                        
        <li class="phoneList cyanC" ><a href="/">Home</a></li>
        <li class="phoneList pinkC" ><a href="/games">Games</a></li>
        <li class="phoneList purpleC"><a href="/services">Services</a></li>
        <li class="phoneList yellowC"><a href="contact">Contact</a></li>

    </ul>


</div>
