<%- include('../partials/header') -%>

<div class="titleMobileC yellowC">
    <h1 class="fligther "> Contact Us</h1>
</div>
   
<div class="firstblock">
    <div class="leftblockMirrowed">
            <div class="contactblock2 yellowC">
                <form id="contactForm">
                    <input type="text" id="name" placeholder="Your Name" required>
                    <input type="email" id="email" placeholder="Your Email" required>
                    <textarea id="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Send</button>
                </form>
                <p class="message" id="successMessage">Message sent successfully!</p>

            </div>
          
    </div>
    <div class="rightblockMirrowed">
      
        <div class="titleS2 yellowC">
            <h1 class="fligther "> Contact Us</h1>
        </div>
        <div class="contacts">
            <div class="contactblock">

                <img src="../../emailicon.png" alt="emailicon" class="iconC">
                <p>stinkycatstudio@gmail.com</p>
            </div>
            <div class="contactblock">
                <a href="https://discord.gg/your-discord-invite-link"><img src="../../discordicon.png" alt="discordicon" class="iconC"></a>
                <p> Join to Discord Server</p>
            </div>
            <div class="contactblock">
                <a href="https://discord.gg/your-discord-invite-link" > <img src="../../instagramicon.png" alt="instagramIcon" class="iconC "></a>
                <p>Follow us</p>
            </div>

         </div>
            
     

    </div>
</div>
  

    <%- include('../partials/footer') -%>