<%- include('../partials/header') -%>


   
    <div class="firstblock">
        <div class="leftblock yellowC">
                <h1 class="title1"> WHO WE ARE:</h1>
                <div class="insideblock cyanC">

                    <p class="textW whiteC">
                        At StinkyCat Studio, we specialize in creating innovative, educational, and ethically designed simulation games that inspire learning, creativity, and empathy. Based in Ireland, we specialize in developing high-quality games for schools, businesses, and families across the EU and UK.
                    </p>
                    <p class="textW whiteC italic"> <strong>OUR FOCUS ARE SIMULATION -EDUCATIONAL GAMES.</strong></p>
                    
                </div>
        </div>
        <div class="rightblock">
            <img src="../../logoscs.png" alt="logocompany" class="logoC">  
            <div class="paralaximage1">
              
                 </div>
            <div class="title2 cyanC">
                <h1 class="title3"> Welcome  to </h1>
         
            </div>
            <img src="../../teamimage2.png" alt="teamillustration" class="imgblock">

        </div>
    </div>
  
    <div class="secondblock">
        <div class="leftblockMirrowed pinkC">
                <h1 class="title1 whiteC"> WHO WE SERVE:</h1>
                <div class="insideblockMirrowed yellowC">

                    <ul class="test">
                        <li class="textW"><strong>Schools & academies:</strong>  Tailored educational games for EU/UK institutions.</li>
                        <li class="textW"><strong>Kid-Focused Companies:</strong>  Games that complement their products.</li>
                        <li class="textW"><strong>Parents & tutors:</strong>  Safe, inspiring games for their children.</li>
                    </ul>
                </div>
        </div>
        <div class="rightblockMirrowed">
           
      
            <img src="../../teamimg.png" alt="teamillustration" class="imgblock2">

        </div>
    </div>

    <div class="firstblock">
        <div class="leftblock yellowC">
                <h1 class="title1"> OUR VISION:</h1>
                <div class="insideblock cyanC">

                    <p class="textW whiteC">
                         We create games with meaningful gameplay, fostering inclusivity while avoiding predatory monetization and addictive mechanics. Through thoughtful design and unique art, we craft experiences that inspire, educate, and delight player of all ages.
                    </p>
                    <p class="textW whiteC italic"> <strong>No pay-to-win mechanics, no predatory monetization.</strong> </p>
                    
                </div>
        </div>
        <div class="rightblock">
            <div class="title2 cyanC">
                <h1 class="title3"> Projects: </h1>
         
            </div>
          
            <img src="../../gamesimg.png" alt="gamesImages" class="imgblock4">
            <div class="paralaximage2">
              
            </div>
        </div>
    </div>

    <%- include('../partials/footer') -%>